<div class="container">
     <div class="page-header">
        <h1>
            <small>Login</small>
        </h1>
     </div>
    <br>
    <div class="col-sm-4 col-sm-offset-2">
        <br>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);">
        </flash-message>
        <!-- LOGIN FORM -->

        <!--
            ctrl.login() - old code
            ng-model= "ctrl.login.id"  ***********
            ng-model= "ctrl.login.email"
            ng-model= "ctrl.login.password"
        -->
        <form name="loginForm" ng-submit="ctrl.search()" novalidate autocomplete="off">
            <div class="form-group input-field col s6">
                <input type="id" class="form-control" ng-model="ctrl.login.id"
                       placeholder="Your ID" name="id" required>
                <div class="help-block"
                     ng-show="loginForm.id.$error.required">
                    <p>ID is mandatory</p>
                </div>
            </div>
            <div class="form-group input-field col s6">
                <input type="email" class="form-control" ng-model="ctrl.login.email"
                       placeholder="Email address" name="email" required>
                <div class="help-block"
                     ng-show="loginForm.email.$error.required">
                    <p>Email address is mandatory</p>
                </div>
            </div>
            <div class="form-group input-field col s6">
                <input type="password" class="form-control" ng-model="ctrl.login.password"
                       name="password" placeholder="Password" required>
                <div class="help-block"
                     ng-show="loginForm.password.$error.required">
                    <p>Password is mandatory</p>
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-lg" ng-click="ctrl.gototimeline()">Login</button>
            <!--<button ng-click="ctrl.gogo()">GO GO</button>-->
            {{ ctrl.login.id }} {{ ctrl.login.email }} {{ ctrl.login.password }}

        </form>


        <!--<p>Need an account? <a ui-sref="SignUp">Signup</a></p>
        <p>Forgot your password ? <a ui-sref="#">Reset</a></p>-->

    </div>

    <!--<div class="col-sm-4">

        <div style="margin-top: 40px;">
            <a href="/oauth/google" class="btn btn-block btn-social btn-google">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Google
            </a>
            <a href="/oauth/facebook" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
            <a href="/oauth/twitter" class="btn btn-block btn-social btn-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
            <a href="/oauth/linkedIn" class="btn btn-block btn-social btn-linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
            </a>
            <a href="/oauth/wechat" class="btn btn-block btn-social btn-wechat">
                <i class="fa fa-wechat" aria-hidden="true"></i> WeChat
            </a>
        </div>
    </div>-->

</div>