<!--The ng-controller directive tells Angular the scope of the controller. In this case, the TimelineCtrl is given
the scope of the <div> element where it is called. We then use TimelineCtrl (as ctrl) to manipulate elements within
this <div>-->
<div ng-controller="TimelineCtrl as ctrl">
    <div class="page-header">
        <h1>
            <small>Timeline</small>
        </h1>
    </div>
    <br>

    <!--Search UI-->
    <!-- Creates Input Form and fields for uesr to enter search string -->
    Personal Dashboard
    <form name="queryForm" class="form-inline">
        <div class="form-group">
            <input id="m1" class="form-control" type="text"
                   name="m1"
                   ng-model = "ctrl.m1"
                   size="1"
                   placeholder="m1">
            <input id="m2" class="form-control" type="text"
                   name="m2"
                   ng-model = "ctrl.m2"
                   size="1"
                   placeholder="m2">
            <input id="m3" class="form-control" type="text"
                   name="31"
                   ng-model = "ctrl.m3"
                   size="1"
                   placeholder="m3">
            <input id="m4" class="form-control" type="text"
                   name="m4"
                   ng-model = "ctrl.m4"
                   size="1"
                   placeholder="m4">
        </div>
    </form>

    <div class="form-group">
            <button type="submit" class="btn btn-info" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                m1
            </button>
            <!--<button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                m1
            </button>-->
            <button type="submit" class="btn btn-info" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                m2
            </button>
            <button type="submit" class="btn btn-info" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                m3
            </button>
            <button type="submit" class="btn btn-info" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                m4
            </button>         
    </div>
    <div>
        <a hef="http://www.straitstimes.com/singapore/manpower/55-deaths-and-all-were-preventable"></a>
    </div>
    <hr>
    <div class="comment-section">           
        <form name="commentForm" novalidate ng-submit="ctrl.placeComment()" class="comment">
                <textarea cols="100" ng-model="ctrl.comment" maxlength="500" required
                                    placeholder="Add a Comment"></textarea> {{ ctrl.comment }}
                <span class="characters pull-right">{{255 - ctrl.comment.length}} characters remaining...</span>

                <input id="file" type="file" ng-model="ctrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
                                    {{ ctrl.imgFile.name }}
                <button class="btn btn pull-right" type="submit" ng-click="ctrl.upload()">Upload/Submit</button>
                <img ngf-thumbnail="ctrl.imgFile" width="100px" class="img-thumbnail">

                <!--<div class="container" ng-controller="UploadCtrl as uploadCtrl">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-md-offset-3">
                            <form name="UploadForm" novalidate ng-submit="uploadCtrl.upload()" autocomplete="off">
                                    <input id="file" type="file" ng-model="uploadCtrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
                                    {{ uploadCtrl.imgFile }}
                                    <button class="btn btn pull-right" type="submit">Upload/Submit</button>
                                    <img ngf-thumbnail="uploadCtrl.imgFile" width="100px" class="img-thumbnail"> 
                                <div class="form-group">
                                    <img ngf-thumbnail="uploadCtrl.imgFile" width="100px" class="img-thumbnail">                 
                                </div>
                                
                                <div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.status.code" ng-class="{'alert-success': uploadCtrl.status.code == 202, 'alert-danger': uploadCtrl.status.code == 400 }">
                                    <button class="close" data-dismiss="alert">
                                    &times;
                                    </button> {{ uploadCtrl.status.message }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>-->


            <!--<input type="submit" class="btn btn pull-right"/>-->

        </form>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Comment</th>
                    <th>File</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody class="panel panel-default">
                <tr class="animation" data-ng-repeat="c in ctrl.comments track by $index">
                    <td>{{ c.commenterName }}</td>            
                    <td>{{ c.comment }}</td>                    
                    <td> <img ng-src="./assets/images/{{c.fileUpLoadID}}" height="30" width="30"/> </td>
                    <!--<td> <img ng-src="{{ c.timelineCtrl.fileurl+fileUpLoadID }}"/> </td>-->
                    <td>{{ c.created_at }}</td>         
                </tr>
            </tbody>
        </table>
        
    </div>
        

        <!--<div>
            <input type="submit" class="btn btn pull-right"/>
        </div>-->
        
            <!--<button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.messaging()">
                Messaging
            </button>     -->
    <!--</form>-->
</div>